@font-face {
    font-family: 'Norse Bold';
    src: url(./Norse-Bold.otf);
}

aside {
    height: 100vh;
    width: 30vw;
    position: absolute;
    left: 0;
    z-index: -1;
    #background-image {
        height: 100%;
        width: 30vw;
        object-fit: cover;
    }
    footer{
        outline: 3px solid red;
        position: absolute;
        bottom: 0;
        color: white;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 0.75rem;
        font-family: sans-serif;
    }
}

.logo {
    outline: 3px solid red;
    position: absolute;
    top: 20%;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.303);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
        max-height: 11rem;
        flex-basis: 1;
    }
    #odin {
        color: white;  
        font-size: 7rem;
        font-family: 'Norse Bold', sans-serif;
        flex-basis: 1;
    }
}

.container {
    height: 100vh;
    width: 70vw;
    margin-left: 30vw;
    background-color: white;
}